html {
  box-sizing: border-boxs;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  display: block;
  max-width: 1000px;
  background-color: #f0f0f0;
  padding: 10px;
  margin: auto;
}

*, ::after, ::before {
  box-sizing: inherit;
}